{
  "env": {
    "test": {
      "presets": [
        ["preact-cli/babel", { "modules": "commonjs" }],
        ["@babel/react"], 
        ["@babel/env"]
      ]
    }
  },
  "plugins": [
    ["@babel/plugin-transform-react-jsx", { "pragma":"h" }],
    ["@babel/plugin-proposal-object-rest-spread", {}, "the-object-spread"],
    ["@babel/plugin-proposal-class-properties", {}, "the-class-properties"]
  ]
}