{
  "env": {
    "test": {
      "presets": [
        ["preact-cli/babel", { "modules": "commonjs" }]
      ]
    }
  },
  "plugins": [
    ["transform-class-properties"],
    ["transform-object-rest-spread"],
    ["transform-react-jsx", { "pragma": "h" }]
  ]
}