.overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 20;
  background: rgba(34,34,34,.25);
}
.previewPane {
  background: #fff;
  display: flex;
  flex-direction: column;
  width: 504px;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0;
  z-index: 30;

  .header {
    height: 64px;
    display: flex;
    justify-content: space-between;
    flex: none;
    padding: 0 24px;
    align-items: center;
    border-bottom: 1px solid #eaebed;

    h3 {
      font: normal normal 900 18px/24px -apple-system, BlinkMacSystemFont, sans-serif;
      color: #fff;
    }

    .closeIcon {
      cursor: pointer;
      margin-left: auto;
      fill: rgb(255, 255, 255);
      height: 24px;
      width: 24px;
      
    }
  }

  .body {
    padding: 24px;
    overflow: auto;
  }
}