.inputGroup {
  // padding: 0 24px 24px;
  display: flex;
  // border-bottom: 1px solid #f2f2f2;

  .group, .field {
    padding: 0 15px;
    border-bottom: 2px solid #f7f7f7;
  }

  .group {
    flex: 0;
    padding-bottom: 15px;

    .footer {
      display: flex;
      justify-content: space-between;
    }
  }

  .field {
    flex: 1;
    border-left: 2px solid #f7f7f7;
    overflow: auto;

    .fields {
      display: flex;
    }
  }
  
  h4 {
    margin: 0;
    padding: 15px 0;
    position: sticky;
    left: 0;
  }
}